.container-item {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
}

.container-item:hover {
  transform: translate(0, -8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--body_color);
}

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.btnn,
.btnn2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  padding: 3px;
}

.btnn {
  background-color: #7c0e0e;
}

.btnn2 {
  background-color: #636363;
  margin-left: 5%;
  margin-right: 5%;
}

[data-theme="dark"] .container-item {
  box-shadow: 0 4px 8px rgba(240, 236, 236, 0.304);
  border: 1px solid rgba(240, 236, 236, 0.5);
}

[data-theme="dark"] .container-item:hover {
  box-shadow: 0 12px 24px rgba(174, 171, 171, 0.788);
  border: 1px solid rgba(240, 236, 236, 0.8);
}


/* Media Queries para hacer responsive */

@media only screen and (max-width: 600px) {
  .container-item {
    padding: 10px;
  }

  h3 {
    font-size: 1.5rem;
  }

  .btnn,
  .btnn2 {
    font-size: 20px;
    width: 1.5rem;
    height: 1.5rem;
  }
}

